
<form action="/figures" method="POST">
<label>Name:</label>

<input type="text" name="figure[name]" id="figure_name" type="text" name="landmark[name]" id="landmark_name" id="title[name]" id="title_name"></input>

<br></br>
    <h1>Title:</h1>
    <%Title.all.each do |title|%>
    <label><%=title.name%><label>
      <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"></input>

    <%end%>
<h2>Create New Title:</h2>
    <label for="new_title"></label><br>
  <input type="text" id="new_title" name="title[name]"></input>



    <h1>Landmark:</h1>
    <%Landmark.all.each do |landmark|%>
    <label><%=landmark.name%><label>
      <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"></input>
    <%end%>
    <h2>Create New Landmark:</h2>
        <label for="new_landmark"></label><br>
      <input type="text" id="new_landmark" name="landmark[name]"></input>

    <br></br>
<input type="submit" value="Create New Figure">
  </form>
